src/main/mule/mulesoft_first_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ea04b50d-d004-4d20-8c65-b825cf3a3578" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft_first_projectFlow" doc:id="54d3e11e-32f9-4e52-83a3-f6d812cc53c8" >
		<http:listener doc:name="Listener" doc:id="5d3f5a82-e6b7-478d-95c5-69685aa46a18" config-ref="HTTP_Listener_config" path="/naren"/>
		<ee:transform doc:name="Transform Message" doc:id="4c13e9f2-e348-4808-b017-dd459805c486" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Successfully Deployed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e811870f-aa65-4777-9d4a-d233311ae0e5" message='#["Successfully Logger executed"]'/>
	</flow>
</mule>
